/*Überschrift "Lehrveranstaltungen"*/
h1 {
    font-size: 3em;
}

/*Überschrift Semester*/
h2 {
    font-size: 1.7em;
    font-weight: 600;
}

a {
    text-decoration: none;
}

p {
    font-weight: 300;
}

/*Container*/
.container {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}