/*Überschrift "Lehrveranstaltungen"*/
h1 {
    font-size: 3em;
}

/*Überschrift Semester*/
h2 {
    font-size: 1.7em;
    font-weight: 600;
}

/*Unterüberschrift*/
h3 {
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 50px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

p {
    font-weight: 300;
}

/*Container*/
.container {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*Container für die Veranstaltungen*/
.VSContainer { 
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 20px;
}