/*--------------------Head--------------------*/

.semesterContainer {
    border-bottom: 2px solid #ececec;
    margin-bottom: -2px;
}

.collapsibleHead {
    border-top: 2px solid #ececec;
    color: var(--IDH_purple);
    height: 2.4em;
    padding: 15px;

    display: flex;
    align-items: center;

    user-select: none;
    transition: 0.3s;
}

.collapsibleHeadActive {
    color: white;
    background: var(--IDH_gradient);
    height: 2.4em;
    padding: 15px;

    display: flex;
    align-items: center;

    user-select: none;
}

.collapsibleHead:hover{
    background-color: #ececec;
}

@keyframes expand {
    from {height: 0px;}
    to {height: 250px;}
}



/*-------------------Content------------------*/

.collapsibleContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 25px;
    line-height: 2.75em;
}

li {
    font-size: 1.1em;
    font-weight: 370;
}

li:hover {
    color: var(--IDH_purple)
}

h5 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0px;
}

a {
    color: inherit;
}