/*Box mit Daten zur Veranstaltung*/
.VSBox {
    position: relative; /* Ensure it stays above the pseudo-element */
    min-height: 11em;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Create the gradient layer */
.VSBox::before {
    content: "";
    position: absolute;
    inset: 0; /* Cover the entire div */
    background: linear-gradient(to top, #386c82, #3b859e);
    transition: opacity 0.3s ease;
    z-index: -1; /* Move behind the text */
}

/* On hover, fade out the gradient */
.VSBox:hover::before {
    opacity: 0;
}

.VSBox:hover {
    color: var(--IDH_purple);
    background-color: white;
    box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.25);
}

/*Text in den Boxen*/

/*Veranstaltungstitel*/
h4 {
    font-size: 1.3em;
    margin: 0px;
}

/*Uhrzeit, Raum*/
p {
    font-size: 1.1em;
    margin: 0px;
    margin-top: 15px;
}

/*Lehrkraft*/
.teacher {
    font-weight: 700;
}