.header-div {
    background: linear-gradient(to right, #6c457f, #386c82, #6c457f);
    height: 100px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 15px;
    text-align: left;
}

.idh-logo {
    width: 100%;
    margin-left: 30px;
    cursor: pointer;
}

.header-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 30px;
}

