@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: 'Inter',Arial, Helvetica, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --IDH_purple: rgb(108, 52, 127);
  --IDH_blue: rgb(56, 108, 130);
  --IDH_gradient: linear-gradient(to bottom right, #6c347f , #386c82);
  --IDH_gradient2: linear-gradient(to top left, #6c347f , #386c82);

}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

/*------------------------Farben und Farbverläufe------------------------*/

.IDH_purple {
  color: rgb(108, 52, 127);
}

.IDH_blue {
  color: rgb(56, 108, 130);
}

/*IDH-Farbverlauf*/
.IDH_gradient {
  background: linear-gradient(to bottom right, #6c347f , #386c82);
}

/*IDH-Farbverlauf für Schrift*/
.IDH_textgradient {
  background: linear-gradient(to bottom right, #6c347f , #386c82);
  color: transparent;
  background-clip: text;
}

